<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Login to OurSite</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' th:href="@{css/main.css}">
    <link rel='stylesheet'  th:href="@{css/login.css}">

</head>

<body class="d-flex justify-content-center align-items-center">
    <div id="loginbox" class="col-6">
            <div class="h6 text-center" th:if="${param.error}">
                Invalid username and password.
            </div>
            <div class="h6 text-center" th:if="${param.logout}">
                You have been logged out.
            </div>
            <h1 class="display text-center">Login</h1>
            <form class="form-group container justify-content-center" th:action="@{/login}" method="post">
                <div class="container" style="width: 80%"><label for="input_username"> User Name : </label><input
                        id="input_username" class="form-control" type="text" name="username" /></div>
                <div class="container" style="width: 80%"><label for="input_password"> Password: </label><input
                        id="input_password" class="form-control" type="password" name="password" /> </div>
                <div class="m-2 text-center"><input class="btn btn-primary" type="submit" value="Sign In" /></div>
            </form>
            <a class="h6 text-center" style="display: block" href="#">I forgot my username and password</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:src="@{js/login.js}"></script>
</body>
</html>