<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Spring Security Example </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="author" content="Victor Grazi">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/newsTemplate.css'>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img id="navbar_brand_java" src="img/logo.png" class="navbar-brand" href="/">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Language Basics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Java SE components</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Java EE In a NutShell</a>
            </li>
        </ul>
        <form style="display: none" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<h1></h1>
<div class="container">
    <p>
        As a preamble to the SpringOne Platform Conference, the folks at Pivotal have released Spring Security 5.0.0, the first major release of Spring Security since 4.0.0 in March 2015.

        Spring Security started life in 2004 under the name Acegi, and is now led by Pivotal engineer Robert Winch, co-author of Packt’s Spring Security and the seminal book Spring Security 3.1. The 5.0.0 release contains over 400 enhancements and bug fixes, including support for OAuth 2.0, reactive support including Spring WebFlux and testing with project Reactor’s StepVerifier.

        InfoQ spoke to Spring Security lead Rob Winch about the release and about the future.

        InfoQ: The update site is pretty robust. Can you summarize the release?
    </p>
    <blockquote class="blockquote">
        <p class="mb-0">The highlights of Spring Security 5.0 include requiring a minimum of JDK 8, Reactive Security, OAuth 2.0 log-in (OIDC), and Modernized Password Storage.</p>
        <footer class="blockquote-footer">Rob Winch<cite title="Source Title">Source Title</cite></footer>
    </blockquote>

    <p>
        InfoQ: How did you come up with the Modern Password Storage theme and implementation?

        Winch: It is unfortunate, but before Spring Security 5.0 our default password storage was plain text which is not secure at all. Since this was a major release, this was our opportunity to switch to a more secure default.

        Fortunately, we were able to work with John Steven who is an expert on password storage. In fact, he was one of the primary authors of the OWASP Password Storage Cheat Sheet. Spring Security now provides defaults that follow today's password storage recommendations. Even better, we can now passively update to different mechanisms.

        InfoQ: The thing that impresses me most is how Spring always seems to deliver exactly what I was missing. How do you select and prioritize features?

        Winch: We try and follow the community's lead by looking for highly voted issues and then develop a theme across the entire portfolio. This theme was updating to a minimum of JDK 8 and Reactive support using Project Reactor.

        InfoQ: Are you going to be speeding up the release cycle for Spring Security, as Spring lead Juergen Hoeller described for Spring in general, releasing "what's ready" at shorter intervals?

        Winch: Yes. Spring Security tries to follow the release cycle of Spring Framework to ensure that there is security for what Spring Framework is providing.

        InfoQ: What's planned for the next release?

        Winch: For our next release we plan to focus on refining both the Reactive and OAuth log-in support. We will also be providing hooks for migrating the way existing passwords are stored. We hope to release an initial version of OAuth Resource Server support as well.

        Let's take a look at how Method Security has been enhanced (examples from the Spring Security website):

        You can enable annotation-based security using the @EnableGlobalMethodSecurity annotation on any @Configuration instance to limit access to that method. For example, the following would enable Spring Security’s @Secured annotation.

        @Configuration
        @EnableGlobalMethodSecurity(securedEnabled = true)
        public class MethodSecurityConfig {
        // ...
        }
        You can then apply appropriate method-level annotations:

        public interface BankService {

        @Secured("IS_AUTHENTICATED_ANONYMOUSLY")
        public Account readAccount(Long id);

        @Secured("IS_AUTHENTICATED_ANONYMOUSLY")
        public Account[] findAccounts();

        @Secured("ROLE_TELLER")
        public Account post(Account account, double amount);
        }
        But sometimes you require more flexibility than GlobalMethodSecurity provided. For those cases, Spring Security 5.0 introduces the ability to provide your own implementation by creating a config class that extends GlobalMethodSecurityConfigurationand add an @EnableGlobalMethodSecurity annotation on the config class.:

        @EnableGlobalMethodSecurity(prePostEnabled = true)
        public class MethodSecurityConfig extends GlobalMethodSecurityConfiguration {
        @Override
        protected MethodSecurityExpressionHandler createExpressionHandler() {
        // ... create and return custom MethodSecurityExpressionHandler ...
        return expressionHandler;
        }
        }
        A feature of Reactor's reactive streams is that they allow for a single waiting thread to be allocated to new jobs, which introduces new challenges for implementing ThreadLocal type mappings. Reactor has responded with the reactive Context API, a kind of reactive ThreadLocal map.

        In 5.0 you can access the reactive Context via the static ReactiveSecurityContextHolder.getContext(), which allows you to carry a security token (and other application-specific data) across method calls.
    </p>
    <div >
        by Victor Grazi
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--<script src='js'></script>-->
</body>
</html>